/* Default css file for jemdoc. */

@font-face {
    /* font-family : Monaco, Menlo, Inconsolata, Georgia, 'Frutiger Neue W02 Book', sans-serif; */
    font-family : Inconsolata, Monaco, 'Frutiger Neue W02 Book', sans-serif;
    font-style : normal;
    font-weight : 700;
}

.metro .readable-text {
    font-size: 15pt;
    line-height: 24pt;
}

.metro .text-muted {
    font-family : Inconsolata, Monaco, 'Frutiger Neue W02 Book', monospace;
    font-size : 100%;
    line-height: 24pt;
    color: #48484c !important;
}

pre {
    font-family : Inconsolata, Monaco, 'Frutiger Neue W02 Book', monospace;
    font-size : 100%;
    line-height: 24pt;
    color: #48484c !important;
    padding-left : 18px;
    border-left : 6px solid #24A0DA;
    display: block;
    overflow: auto;
    white-space: pre;
    white-space: pre-wrap;      /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap;     /* Opera 4-6 */
    white-space: -o-pre-wrap;   /* Opera 7 */
    word-wrap: break-word;      /* Internet Explorer 5.5+ */
}

.metro h1 {
    font-size: 2.5rem;
    font-style : bold;
    color : #6D8764 !important;
}
.metro h2, h3 {
    font-size: 2.2rem;
    font-style : bold;
    color : #6D8764 !important;
    padding-top: 2ex;
    padding-bottom: .5ex;
    border-bottom: 4px dashed #e8e8ec;
}

